<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          >
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
  <uses-feature android:name="android.hardware.type.pc" android:required="false"/>

  <application android:label="Wormhole William" android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:requestLegacyExternalStorage="true">
    <activity
        android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize"
        android:label="Wormhole William"
        android:name="org.gioui.GioActivity"
        android:theme="@style/Theme.GioApp"
        android:windowSoftInputMode="adjustResize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:label="Wormhole William"
        android:name="io.sanford.wormholewilliam.Share">
      <intent-filter>
        <action android:name="android.intent.action.SEND" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:mimeType="*/*" />
      </intent-filter>
    </activity>

    <activity
        android:name="com.journeyapps.barcodescanner.CaptureActivity"
        android:screenOrientation="portrait"
        tools:replace="android:screenOrientation"
        android:stateNotNeeded="true">
    </activity>

  </application>
</manifest>
