name: Android
on: [push, pull_request]
jobs:

  build:
    name: Build/Test
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Install Nix
      uses: cachix/install-nix-action@ed706ab2cdb9d2f5533fd430f2c531e7340ed650 # v31

    - name: Setup Nix devShell
      uses: nicknovitski/nix-develop@9be7cfb4b10451d3390a75dc18ad0465bed4932a # v1

    - name: Initialize gomobile
      run: make init

    - name: Build debug APK
      run: make debug

    - name: Run unit tests
      working-directory: android
      run: ./gradlew testDebugUnitTest

